{
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": false,
  "tabWidth": 2,
  "printWidth": 120
}
