.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.recommendList {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 5;
}
.description {
  margin: 0 auto;
}
.recommendCard {
  display: flex;
  border: 1px solid #394673;
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin: 0.5rem 0;
  background-color: #fff;
}
.image {
  object-fit: contain;
  width: 3rem;
  height: 5rem;
  margin: 0 0.2rem;
}
.title {
  color: #394673;
  margin-bottom: 0.3rem;
}
.category {
  color: rgb(124, 124, 124);
  font-size: 0.7rem;
  margin: 0;
}
