body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(227, 34%, 45%);
  --color-secondary: hsl(227, 34%, 34%);
  --color-background: hsl(227, 34%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-offwhite: hsl(0, 0%, 85%);
  --color-offblack: hsl(0, 0%, 10%);
}
